@import "tailwindcss";

:root {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color-scheme: light dark;
}

body {
  margin: 0;
  background: #0d1117;
}

.bing-wallpaper img {
  width: 400px;
}

.bing-wallpaper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

@media all and (max-width: 1536px) {
  .bing-wallpaper {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media all and (max-width: 1280px) {
  .bing-wallpaper {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media all and (max-width: 1024px) {
  .bing-wallpaper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media all and (max-width: 768px) {
  .bing-wallpaper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (max-width: 640px) {
  .bing-wallpaper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.bing-wallpaper .wallpaper {
  overflow: hidden;
  position: relative;
}

.bing-wallpaper .wallpaper .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  padding: 4px;
  font-size: 12px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
}

.bing-wallpaper .wallpaper:hover .footer {
  display: block;
}
