@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    background: #0d1117;
}

.bing-wallpaper img {
    width: 400px;
}

.bing-wallpaper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bing-wallpaper .wallpaper {
    overflow: hidden;
    position: relative;
    margin: 4px;
    width: 400px;
    border-radius: 4px;
}

.bing-wallpaper .wallpaper .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    padding: 4px;
    font-size: 12px;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .6));
}

.bing-wallpaper .wallpaper:hover .footer {
    display: block;
}